# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Astro output
/.astro/
/dist/

# System Files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/

# Environment variables
.env
.env.local

# Temp files
*.tmp
*.temp

# Miscellaneous
*.swp
*~

# MacOS files
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*.pyo
chat/

# Other Python files
*.egg-info/
*.eggs/
dist/
build/
.coverage
.tox/
*.mypy_cache/
.pytest_cache/
