---
import Layout from '../layout/Layout.astro';
---

<Layout title="Sobre Nosotros">
  <h2 class="section-title">Sobre Nosotros</h2>
  <p>Somos comprometidos con la sostenibilidad y el ambiente. Nuestros productos son 100% orgánicos y certificados.</p>
</Layout>